/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ==================================== */
/* |      FUTURAMIC MEDIA CSS 2014    |  */
/* ==================================== */


/** { 
	outline: 1px solid orange;
}*/

body {
	background: #000;
	color: #fff;
	font-size: 100%;
	font-family: 'Antic Slab', Georgia, serif;
	line-height: 1.563;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Maven Pro', Helvetica, sans-serif;
	line-height: 1.000;
	text-transform: uppercase;
	font-style: normal;
}

h1{
	font-size: 3.7500em; /* 60pt */
	font-weight: 900;
}

h2{
	font-size: 1.625em; /* 26pt */
	font-weight: 700;
}

h3 {
	font-size: 1.125em; /* 18pt */
	font-weight: 700;
}

p {
	font-size: 1.000em; /* 16pt */
	font-weight: normal;
	font-style: normal;
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	text-align: center;
	padding: 0 40px;
	min-width: 320px;
}

nav {
	float: right;
	margin-top: 20px;
}

nav li {
	display: inline;
	margin: 10px 0 0 0;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 30px;
	vertical-align: middle;
}

nav a:hover {
	background: #CD1041;
}

section {
	min-width: 320px;
}

footer {
	background: #CD1041;
	/* border-top: 1px solid #CD1041; */
	text-align: center;
	padding: 10px;
	font-size: .8125em;
}

.logo {
  display: block;
  text-indent: -9999px;
  /* width: 100.746px; */
  height: 72px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMC43NSA3MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwLjc1IDcyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjMjMyMjIyIiBwb2ludHM9IjEwMC43LDAgMCwwIDAsNzIgMTAwLjcsNzIgMTAwLjcsMCIvPjxwb2x5bGluZSBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjkzLjMsNy41IDkzLjMsNjQuNSA3LjUsNjQuNSA3LjUsNy41IDkzLjMsNy41Ii8+PHBvbHlnb24gZmlsbD0iIzIzMjIyMiIgcG9pbnRzPSI2My4zLDQ0LjIgNzIuNiwzMC43IDcyLjYsNTUuOSA4My4xLDU1LjkgODMuMSwxNS4yIDcyLjgsMTUuMiA2My4zLDI5LjEgNTMuNywxNS4yIDUzLjQsMTUuMiAxNywxNS4yIDE3LDU1LjkgMjcuNSw1NS45IDI3LjUsNDAgNTAuMyw0MCA0NC4yLDMxLjQgMjcuNSwzMS40IDI3LjUsMjMuOCA0OS4xLDIzLjgiLz48L3N2Zz4=) no-repeat center center / contain;
}

#feature {
	padding-top: 30px;
	background: url(images/transcendance.jpg) center center / cover;
	height: 500px;
	border-top: 1px solid #CD1041;
	border-bottom: 1px solid #CD1041;
	display: block;
}

#feature h1 {
	text-align: center;
	margin: 160px 0 60px 0;
}

#feature-box {
	border: 1px solid #fff;
	margin: auto;
	padding: 1%;
	min-width: 320px;
	max-width: 560px;
	background-color: rgba(255,255,255,.1);
}

.intro-text {
	font-family: 'Maven Pro', Helvetica, sans-serif;
	font-weight: 400;
	font-size: .875em;
	text-align: left;
	line-height: 2em;
}

.fmred {
	color: #CD1041;
	font-family: 'Maven Pro', Helvetica, sans-serif;
	font-size: 1.125em;
	font-weight: 900;
	text-transform: uppercase;
}

.fmwhite {
	color: #fff;
	font-family: 'Maven Pro', Helvetica, sans-serif;
	font-size: 1.125em;
	font-weight: 900;
	text-transform: uppercase;
}

#services {
	margin: 0 25%;
	display: inline;
}

#services p {
	margin-top: 30px;
	text-align: left;
	font-size: .8125em; /* 13px */
}

#services h3 {
	border-bottom: 1px solid #363636;
	padding-bottom: 20px;
	margin-bottom: -10px;
}

.white-box {
	border: 1px solid #363636;
	display: inline-block;
	width: 200px;
	height: 300px;
	padding: 1%;
	text-align: center;
	margin: 30px 10px 0 0;
	vertical-align: top;
}

.white-box:hover {
	border: 1px solid #fff;
	background-color: rgba(255,255,255,.15);
}

.white-box:hover div{
	background: #CD1041;
	color: #fff;
}

#featured-work {
	margin-top: 60px;
	margin: 30px 25%;
}

#featured-work div {
	text-align: center;
}

.header-bars {
	border-top: 1px solid #CD1041;
	border-bottom: 1px solid #CD1041;
	padding: 10px 0;
	margin: 60px 0 30px 0;
}

.icon {
	margin: auto;
	background: #363636;
	height: 60px;
	width: 60px;
    border-radius: 100%;
    text-align: center;
	margin-bottom: 10px;
    color: #000;
	font-size: 2.375em; 
}

.fa {
	position: relative;
	left: 0px;
	top: 2px;
}

#featured-work a:hover {
	background-color: rgba(255,255,255,.15);
	border: 1px solid #CD1041;
}

.client-work{
	border: 1px solid #363636;
	display: inline-block;
	width: 200px;
	height: 120px;
	padding: 1%;
	text-align: center;
	margin: 30px 10px 0 0;
	vertical-align: top;
}

#bagger-daves {
	background: url(images/bagger-daves.svg) no-repeat center center / contain;
	background-size: 80px;
}

#childrens-eyecare {
	background: url(images/childrens-eye-care.svg) no-repeat center center / contain;
	background-size: 90px;
}

#renegades {
	background: url(images/renegades.svg) no-repeat center center / contain;
	background-size: 120px;
}


#livio-connect {
	background: url(images/livio-connect.jpg) no-repeat center center / cover;
}

#jeff-daniels {
	background: url(images/jeff-daniels.jpg) no-repeat center center / cover;
}

#mackinac-island {
	background: url(images/mackinac-island.jpg) no-repeat center center / cover;
}

#tomtom-mazda {
	background: url(images/tomtom-mazda.jpg) no-repeat center center / cover;
}

#bbe {
	background: url(images/bbe.jpg) no-repeat center center / cover;
}

#service-mold {
	background: url(images/service-mold.jpg) no-repeat top center / cover;
}

#detroit-axle {
	background: url(images/detroit-axle.jpg) no-repeat center center / cover;
}

#omnigraphics {
	background: url(images/omnigraphics.jpg) no-repeat center center / cover;
}

#sparrowtv {
	background: url(images/sparrowtv.jpg) no-repeat center center / cover;
}

.fa-map-marker {
	font-size: 1.5em;
	margin-left: 10px;
}

.fa-facebook {
	margin: 0 10px;
}

.fa-twitter {
	margin-right: 5px;
}

#contact a:hover {
	color: #CD1041;
}
